body{
    width: 1440px;
    height: 1050px;
    background: #000000;

}

#logo{
    position: absolute;
    left: 84px;
    top: 40px;
}

textarea{
    position: absolute;
    width: 680px;
    height: 680px;
    left: 240px;
    top: 168px;

    resize: none;
    background: transparent;
    border: 0;
    outline: none;


    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #228c12;
}

textarea::placeholder{
    color: #228c12;
}

p{


    position: absolute;
    top: 851px;
    left: 240px;

   
    height: 18px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;


    color: #ffffff;


}
.encrypt{

        /* Auto layout */

    position: absolute;
    left: 240px;
    top: 885px;
    margin-bottom: 72px;
    width: 328px;
    height: 67px;

    /* Dark blue/dark-blue-300 */

    background: #228c12;
    border-radius: 24px;
    border: #228c12;
    cursor: pointer;

    /* Fuente */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;

    transition: 1s;
}

.encrypt:hover{
    background:#4b8e41;
    
}

.decrypt{

    

    /* Auto layout */
    position: absolute;
    left: 592;
    top: 885px;

    width: 328px;
    height: 67px;

    width: 328px;
    height: 67px;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #228c12;
    border-radius: 24px;
    cursor: pointer;

    /* Fuente */
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 1000;
     font-size: 16px;
     line-height: 19px;
     text-align: center;
     
    transition: 1s all;

}

.decrypt:hover{
    background: rgb(92, 88, 88);
    border: rgb(92, 88, 88);
    color: #5f8f58;

}

.result{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    margin-top: 40px;
    /* White */

    background: rgb(92, 88, 88);
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

}

.result img{
    position: absolute;
    padding-left: 32px;
    padding-top: 243px;


}

.result h1{
    width: 336px;
    height: 58px;
    margin-top: 579px;
    margin-left: 32px;
    margin-right: auto;


    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #5f8f58;

}

.result h2{
    width: 336px;
    height: 48px;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: auto;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #ffffff;
}